* {
    box-sizing: border-box;
}

p {
    text-align: right;
    margin-right: 20px;
}

.wrap {
    width: 250px;
    margin: 150px auto;
    text-align: center;
    border: 1px solid black;
}

.display {
    display: block;
    width: 90%;
    height: 72px;
    border: 1px solid black;
    margin: 5px auto;
}

.nut {
    margin-top: 1px;
    width: 50px;
    height: 50px;
    background-color: unset;
}

.nut:hover {
    background-color: blue;
    color: white;
    transition: all 0.25s linear;
}

.nut:active {
    background-color: orange;
}

button:focus {
    outline: 0;
    background-color: none;
}

.nut0 {
    width: 104px;
    height: 50px;
    background-color: unset;
}

.clear {
    width: 104px;
    height: 50px;
}

#changeColor {
    color: none;
    border: none;
    cursor: pointer;
    background-color: unset;
}