@keyframes title{
	30%{
		color: red;
		background-color: white;
	}
	60%{
		color: blue;
		background-color: pink;
	}
} 

@keyframes fatein{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
} 

*{
	margin: 0;
	padding: 0;
	transition: all 1s linear;
	box-sizing: border-box;

}
body, html {width: 100%}
.wrap{
	margin: auto;

}
.chuaanh img {
    width: 100%;
}

.chuaanh {
    max-width: 30%;
    float: left;
    margin: auto;
    overflow: hidden;
    margin-left: 2%;
}

.banner{
	width: 100%;
	background-color: red;
	color: yellow;
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 20px;
	animation: title 1s ease infinite;
}

.class2 img:hover{
	transform: scale(1.2);
}

.class1 img{
	opacity: 1;
	transition: opacity 1s linear;
	animation: fatein 3s ease none;
}

.class1 img:hover{
	opacity: 0.5;
}
.cp{
	width: 100%;
	color: blue;
	text-align: right;
	padding-right: 3%;
}

