.wrap{
	max-width: 1000px;
	margin: auto;
	padding: auto;
}
.banner{
	max-width: 100%;
	margin: auto;
}
.wrap1{
	display: grid;
	grid-template-columns: 190px 10px 80%;
}
.menu{
	margin: auto;
	padding-top: 20px;
	border-bottom: 2px solid blue;
	font-size: 1.5em;
	
}
.menu a{
	text-decoration:  none;
}
.menu a:hover{
	color: red; 
}
#menu img{
	max-width: 75%;
	border: 1.5px solid white;
	border-radius: 50%;
	position: absolute;
	top: -111px;
	left:124px;
}
#menu{
	position: relative;
}
.wrap2{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-row-gap: 20px;
	margin: auto;
}
.wrap2 img{
	max-width: 90%;
	margin: auto;
}
.nut{
	width: 50px;
	position: fixed;
	bottom: 0px;
	right: 0px;

}